/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

body{
        display: block;
        position: absolute;
        font-family: Helvetica, sans-serif;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        background: lightgray;
      }    
        
    .container {
        display: block;
        width: 350px;
        height: 500px;
        border-radius: 15px;
        -webkit-box-shadow: 4px 4px 14px rgba(8, 4, 19, 0.3);
        box-shadow: 4px 4px 14px rgba(8, 4, 19, 0.3);
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background: #191428;
        color: white;
    }
    
    
    #display {
        margin: 30px 30px 0 30px;
        height: 80px;
    }
    
    #display #inputxt {
        color: black;
        border: none;
        float: left;
        font-size: 50px;
        height: 80px;
        margin: 0;
        width: 290px;
        text-align: end;
        background: black;
    }
    
    .keyboard {
        text-align: center;
        padding: 20px;
    }
    
    .row{
        text-align:center;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        display: flex;
        
    }
    
    input[type=button]{
        width: 56px;
        height: 55px;
        text-align: center;
        background: none;
        font-size: 25px;
        padding: 5px;
        margin: 5px;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
        border: solid 3px;
        justify-content: center;
        align-items: center;
        display: flex;  
        border-radius: 10px;
    }
    
       
    #on {
        width: 80px;
        color: red;
    }
    #on:hover{
        background:red;
        color: black;
        border-color: red;
    }
    

    #ac, #ce, .b1r, #opo, .b2r, #opt, .b3r, #opm, .b4r, .opp  {
        border-color: darkslategray !important;
        color: darkslategray !important;
    }

    #ac {
        width: 77px;
        }
     
    #ce {
        width: 77px;
        }
